---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|test)/.*'
FormatStyle: file
CheckOptions:
  - key: readability-function-size.LineThreshold
    value: '80'
  - key: readability-function-size.StatementThreshold
    value: '60'
...
